# Node.js modules
node_modules

# IntelliJ IDEA files
.idea
*.iml

# Yarn cache
/.yarn
!.yarn/releases
!.yarn/plugins
.pnp.*

# Logs
*.log

# Package archive
*.tgz

# Intermediate files
/target

# Distribution directory
/dist
