<meta charset="utf-8"/>
<base href="<%= this.base %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title><%= title %></title>
<% if (rev) { %>
  <meta name="wesib-app-rev" content="<%= rev %>">
<% } %>
<link href="https://fonts.googleapis.com/css?family=Exo+2:400,600&display=swap" rel="stylesheet">
